body {
    font-family: 'Sigmar One', cursive;
    background-image: url("Background.png");
    background-position: center;
    background-size: cover;
    border: 25px rebeccapurple ridge;
}
.heading
{
    font-size: 25px;
    width: 100%;
    margin: 5px;
    box-shadow: 5px 5px 5px grey;
}
.note
{
    font-size: 15px;
    color: blue
}
.copy_right_footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 110%;
    background-color: grey;
    line-height: 3;
    text-align: center;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow:5px 5px 5px grey;
}